h1{
  color: red;
  font-family:cursive;
  
}
h3{
  color: brown;
}
p{
  color: green;
  font-style: oblique;
  font-weight: lighter;
  font-family: cursive;
}
table{
  color: blue;
  font-style: italic;
  font-weight: bolder;
  font-family: monospace;
}
figure{
  color: purple;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
}
